<div class="text-center py-5">
    <h1 class="display-5">Welcome to CivicFix</h1>
    <p class="lead">Report street issues to your municipal committee.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/Account/Login">Login</a>
        <a class="btn btn-outline-secondary btn-lg" href="/Account/Register">Register</a>
    </p>
</div>


